.fll{
  float: left;
}

.flr{
  float: right;
}

.clearfix{
  &::after{
    content:'';
    display: block;
    clear:both;
  }
}
a{
  text-decoration: none;
  color: rgb(191, 203, 217)
}

//全局card样式
.content .el-card{
 min-height: calc(100vh - 160px)
}

//表格全局样式
.table-item-img{
  width: 80px;
  height: 80px;
}
.el-menu{
  border: none;
}
.el-submenu .el-menu-item{
  min-width: 0;
}








